.trae/
.vscode/
*.code-workspace
.history/
.idea/
*.iml
*.ipr
*.iws
.vs/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn
.*.swp
*~
.#*
\#*\#
*.elc
.project
.classpath
.settings/
nbproject/
nbproject/private/
nbactions.xml
nb-configuration.xml
.atom/
.*.kate-swp
*.kate-swp